body {
  background-image: url("https://www.augie.edu/sites/default/files/styles/16_9_large_2x/public/11x17%20Neil%20deGrasse%20Tyson%20FLATTENED%20%281%29.jpg?itok=gNTTv6JB");
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.644);
  margin-top: 3%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 1%;
  color: white;
  border-radius: 5px;
}

.page-1 {
  margin-top: 10%;
  color: white;
  text-align: center;
}

.info, .planets, .and {
  text-shadow: 1px 2px 3px rgb(255, 0, 0);
}

.header, .intro, .start {
  text-shadow: 2px 3px 4px rgb(0, 0, 0);
}

.start-btn {
  color: rgb(0, 0, 0);
}

.mars, .mercury {
  text-shadow: 2px 3px 4px rgb(40, 240, 223);
}

.jupiter, .venus {
  text-shadow: 2px 3px 4px rgb(190, 27, 255);
}

.start-btn {
  margin-top: 6%;
  margin-left: 4%;
  background-color: rgba(240, 255, 255, 0);
  border: none;
  padding-bottom: 25px;
  padding-left: 45px;
  padding-right: 45px;
  border-radius: 50%;
}

#choose-btn {
  margin-top: 2%;
}

ul {
  list-style-type: none;
}

.page-2 {
  display: none;
}

.results {
  display: none;
}

.no-way {
  display: none;
}

.card {
  font-size: 15px;
  padding-bottom: 2%;
  margin-top: 2%;
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
  background-color: rgba(102, 255, 242, 0.212);
  color: rgb(145, 255, 0);
  text-shadow: 2px 2px 3px green;
}

.card2 {
  font-size: 30px;
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  background-color: rgba(85, 107, 47, 0);
  color: aliceblue;
  text-shadow: 3px 4px 5px red;
}

#back {
  display: none;
  margin-left: 48%;
  color: rgb(255, 255, 255);
}

button {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(105, 1, 105);
  border: none;
  border-radius: 10px;
}

#back:hover, #choose-btn:hover {
  background-color: rgba(0, 0, 0, 0.493);
} 